{% extends "layout.html" %}

{% block title %}
  About Page
{% endblock title %}

{% block body %}
<!-- <h1>Shri Ganeshay Namah</h1> -->
    <div >
        <h1>About Us</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate illum recusandae deserunt doloremque optio vero, at adipisci suscipit, consectetur, impedit omnis? Impedit, exercitationem adipisci earum dolore qui soluta voluptatibus aperiam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, perspiciatis sapiente voluptatem velit quaerat aspernatur fugit iusto numquam! Ipsa asperiores quia eos. Molestiae inventore dolorum illo quia deleniti neque officia.</p>
    </div>
{% endblock body %}